h1{
    text-align: center;
    color: purple;
    text-decoration:underline
}

.hidden{   display:none;}
.visible {display:block;}
.fav-item{
    margin-bottom: :20px;
    padding-botton:10px;
    border-bottom: 1px solid white;
}
.faq-question
{
    cursor:pointer;
    background-color: blueviolet;
    color:white;
    padding:10px;
}
.faq-answer
{
    padding:10px;
    margin:0;
}