header
{
    height:100px;
    width:100%;
    background-color: blueviolet;
    color:white;
    text-align:center;
    padding-left:25px;
    align-content: center;
}
.heading
{
    font-size:30px;
}
.sub-heading
{
    margin-top:10px;
    font-size:20px;
}
#main-section
{
    padding:100px 100px 0px 100px;
    background-color:rgb(218, 243, 245);
    display:flex;
    flex-direction: column;
    gap:20px;
}
.searchbox
{
    width:50%;
    display: flex;
    margin-left:25%;
}
#station_search_box
{
    height:40px;
    width:80%;
    border:2px solid white;
}
#btn_search
{
   height:45px;
    width:20%;
    border:2px solid white;
    background-color: blueviolet;
    color:white;
}
#train_list
{
    list-style:none;
    padding:0;
}
#train_list>li
{
    height:30px;
    align-content: center;
    padding-left:50px;
    border:1px solid white;
}
.bg-green
{
background-color:rgb(189, 255, 189);
}
.bg-red
{
    background-color: rgb(251, 200, 200);
}
.bg-orange
{
    background-color:rgb(251, 219, 160);
}
 .bg-green:hover
{
background-color:rgb(123, 219, 123);
color:white;
}
.bg-red:hover
{
    background-color: rgb(246, 143, 143);
    color:white;
}
.bg-orange:hover
{
    background-color:rgb(246, 183, 65);
    color:white;
}       